##Task 1: Basic OOP

In [5]:
import pandas as pd



*   extract(): akan membaca data dari sebuah file CSV (Misalkan, marketing_data.csv)

In [6]:
df = pd.read_csv('/content/marketing_data.csv')

In [65]:
df

  customer_id;purchase_date;product_category;amount_spent
0                      C001;01/03/23;Electronics;250
1                           C002;02/03/23;Books;45.5
2                 C003;03/03/23;Home & Garden;150.75
3                             C001;04/03/23;Books;20
4                      C002;05/03/23;Electronics;525
5                           C004;;Electronics;399.99
6                                   C003;;Books;10.5
7                            C005;07/03/23;Beauty;75



*   transform(): akan melakukan pembersihan dan transformasi sederhana pada data (seperti mengubah format tanggal atau membersihkan nilai yang kosong)

Mengisi data yang kosong

In [13]:
df = pd.DataFrame({'purchase_date': ['01/03/23', '02/03/23', '03/03/23', '04/03/23', '05/03/23', None, None, '07/03/23']})

In [18]:
df['purchase_date'].fillna('06/03/23', inplace=True)
df['purchase_date'].fillna('08/03/23', inplace=True)

In [19]:
print(df)

  purchase_date
0      01/03/23
1      02/03/23
2      03/03/23
3      04/03/23
4      05/03/23
5      06/03/23
6      06/03/23
7      07/03/23

Mengubah sebagian isi di kolom purchase_date dan customer_id

In [8]:
df = pd.DataFrame({'purchase_date': [ '01/03/23',  '02/03/23',  '03/03/23', '04/03/23', '05/03/23',  '06/03/23',  '06/03/23',   '07/03/23']})

In [20]:
df.loc[6, 'purchase_date'] ='07/03/23'
df.loc[7, 'purchase_date'] ='08/03/23'

In [21]:
print(df)

  purchase_date
0      01/03/23
1      02/03/23
2      03/03/23
3      04/03/23
4      05/03/23
5      06/03/23
6      07/03/23
7      08/03/23

In [24]:

df = pd.DataFrame({'customer-id': [ 'C001',  'C002',  'C003', 'C001', 'C002',  'C004', 'C003', 'C005']})

In [25]:
df.loc[0, 'customer-id'] ='C000'
df.loc[1, 'customer-id'] ='C001'
df.loc[2, 'customer-id'] ='C002'
df.loc[3, 'customer-id'] ='C003'
df.loc[4, 'customer-id'] ='C004'
df.loc[5, 'customer-id'] ='C005'
df.loc[6, 'customer-id'] ='C006'
df.loc[7, 'customer-id'] ='C007'

In [30]:
print(df)

  customer-id
0        C000
1        C001
2        C002
3        C003
4        C004
5        C005
6        C006
7        C007



*   store(): akan menyimpan data yang telah ditransformasi ke dalam struktur data DataFramet.

In [39]:

# Data frame pertama
df_customer_id = pd.DataFrame({'customer-id': ['C001', 'C002', 'C003', 'C004', 'C005', 'C006', 'C007', 'C008']})

# Data frame kedua
df_purchase_date = pd.DataFrame({'purchase_date': ['01/03/23', '02/03/23', '03/03/23', '04/03/23', '05/03/23', '06/03/23', '07/03/23', '08/03/23']})

# Data frame ketiga
df_product_category = pd.DataFrame({'product_category': ['Electronics', 'Books', 'Home & Garden', 'Books', 'Electronics', 'Electronics', 'Books', 'Beauty']})

# Data frame ke empat
df_amount_spent = pd.DataFrame({'amount_spent': ['250', '45.5', '150.75', '20', '525', '399.99', '10.5', '75']})

# Menggabungkan ke empat data frame
marketing_data = pd.concat([df_customer_id, df_purchase_date, df_product_category, df_amount_spent], axis=1)

In [40]:
print(marketing_data)

  customer-id purchase_date product_category amount_spent
0        C001      01/03/23      Electronics          250
1        C002      02/03/23            Books         45.5
2        C003      03/03/23    Home & Garden       150.75
3        C004      04/03/23            Books           20
4        C005      05/03/23      Electronics          525
5        C006      06/03/23      Electronics       399.99
6        C007      07/03/23            Books         10.5
7        C008      08/03/23           Beauty           75

##Task 2: Inheritance & Polymorphism



*   Gunakan inheritance untuk membuat class TargetedMarketingETL yang mewarisi dari MarketingDataETL.

In [9]:
class MarketingDataETL:
    def __init__(self, customer_id, purchase_date, product_category, amount_spent):
        self.customer_id = customer_id
        self.purchase_date = purchase_date
        self.product_category = product_category
        self.amount_spent = amount_spent

class TargetedMarketingETL(MarketingDataETL):
    def __init__(self, customer_id, purchase_date, product_category, amount_spent, target_group):
        super().__init__(customer_id, purchase_date, product_category, amount_spent)
        self.target_group = target_group

# Data
data = [
    {'customer_id': 'C001', 'purchase_date': '01/03/23', 'product_category': 'Electronics', 'amount_spent': 250},
    {'customer_id': 'C002', 'purchase_date': '02/03/23', 'product_category': 'Books', 'amount_spent': 45.5},
    {'customer_id': 'C003', 'purchase_date': '03/03/23', 'product_category': 'Home & Garden', 'amount_spent': 150.75},
    {'customer_id': 'C004', 'purchase_date': '04/03/23', 'product_category': 'Books', 'amount_spent': 20},
    {'customer_id': 'C005', 'purchase_date': '05/03/23', 'product_category': 'Electronics', 'amount_spent': 525},
    {'customer_id': 'C006', 'purchase_date': '06/03/23', 'product_category': 'Electronics', 'amount_spent': 399.99},
    {'customer_id': 'C007', 'purchase_date': '07/03/23', 'product_category': 'Books', 'amount_spent': 10.5},
    {'customer_id': 'C008', 'purchase_date': '08/03/23', 'product_category': 'Beauty', 'amount_spent': 75}
]

# List untuk menyimpan instance dari kelas TargetedMarketingETL
targeted_marketing_data = []

# Membuat instance dari kelas TargetedMarketingETL untuk setiap data dalam list data
for entry in data:
    targeted_marketing_data.append(
        TargetedMarketingETL(
            entry['customer_id'],
            entry['purchase_date'],
            entry['product_category'],
            entry['amount_spent'],
            'telah di beli oleh customer'
        )
    )
#  penggunaan instance dari kelas TargetedMarketingETL
for entry in targeted_marketing_data:
    print(entry.customer_id, entry.purchase_date, entry.product_category, entry.amount_spent, entry.target_group)

C001 01/03/23 Electronics 250 telah di beli oleh customer
C002 02/03/23 Books 45.5 telah di beli oleh customer
C003 03/03/23 Home & Garden 150.75 telah di beli oleh customer
C004 04/03/23 Books 20 telah di beli oleh customer
C005 05/03/23 Electronics 525 telah di beli oleh customer
C006 06/03/23 Electronics 399.99 telah di beli oleh customer
C007 07/03/23 Books 10.5 telah di beli oleh customer
C008 08/03/23 Beauty 75 telah di beli oleh customer



*   Tambahkan metode segment_customers() yang mengelompokkan pelanggan berdasarkan kriteria tertentu (misalnya, pengeluaran total atau kategori produk yang dibeli).

In [53]:
class MarketingDataETL:
    def __init__(self, customer_id, purchase_date, product_category, amount_spent):
        self.customer_id = customer_id
        self.purchase_date = purchase_date
        self.product_category = product_category
        self.amount_spent = amount_spent

    def segment_customers(self, criteria):
        if criteria == 'total_spending':
            # Mengembalikan total pengeluaran pelanggan
            return self.amount_spent
        elif criteria == 'product_category':
            # Mengembalikan kategori produk
            return self.product_category
        else:
            return "Kriteria segmentasi tidak valid"

# Data
data = [
    {'customer_id': 'C001', 'purchase_date': '01/03/23', 'product_category': 'Electronics', 'amount_spent': 250},
    {'customer_id': 'C002', 'purchase_date': '02/03/23', 'product_category': 'Books', 'amount_spent': 45.5},
    {'customer_id': 'C003', 'purchase_date': '03/03/23', 'product_category': 'Home & Garden', 'amount_spent': 150.75},
    {'customer_id': 'C004', 'purchase_date': '04/03/23', 'product_category': 'Books', 'amount_spent': 20},
    {'customer_id': 'C005', 'purchase_date': '05/03/23', 'product_category': 'Electronics', 'amount_spent': 525},
    {'customer_id': 'C006', 'purchase_date': '06/03/23', 'product_category': 'Electronics', 'amount_spent': 399.99},
    {'customer_id': 'C007', 'purchase_date': '07/03/23', 'product_category': 'Books', 'amount_spent': 10.5},
    {'customer_id': 'C008', 'purchase_date': '08/03/23', 'product_category': 'Beauty', 'amount_spent': 75}
]

# Membuat instance dari kelas MarketingDataETL untuk setiap entri dalam list data
marketing_data_instances = [MarketingDataETL(entry['customer_id'], entry['purchase_date'], entry['product_category'], entry['amount_spent']) for entry in data]

# penggunaan metode segment_customers()
segmentation_by_spending = [entry.segment_customers('total_spending') for entry in marketing_data_instances]
print("Segmentasi pelanggan berdasarkan total pengeluaran:")
print(segmentation_by_spending)

segmentation_by_category = [entry.segment_customers('product_category') for entry in marketing_data_instances]
print("\nSegmentasi pelanggan berdasarkan kategori produk:")
print(segmentation_by_category)

Segmentasi pelanggan berdasarkan total pengeluaran:
[250, 45.5, 150.75, 20, 525, 399.99, 10.5, 75]

Segmentasi pelanggan berdasarkan kategori produk:
['Electronics', 'Books', 'Home & Garden', 'Books', 'Electronics', 'Electronics', 'Books', 'Beauty']



*   Demonstrasi polymorphism dengan meng-override metode transform() dalam TargetedMarketingETL untuk menambahkan logika segmentasi pelanggan ke dalam proses transformasi.

In [54]:
class MarketingDataETL:
    def __init__(self, customer_id, purchase_date, product_category, amount_spent):
        self.customer_id = customer_id
        self.purchase_date = purchase_date
        self.product_category = product_category
        self.amount_spent = amount_spent

    def transform(self):
        # Metode transformasi umum untuk kelas MarketingDataETL
        return f"Transformasi data: {self.customer_id}, {self.purchase_date}, {self.product_category}, {self.amount_spent}"

class TargetedMarketingETL(MarketingDataETL):
    def __init__(self, customer_id, purchase_date, product_category, amount_spent, target_group):
        super().__init__(customer_id, purchase_date, product_category, amount_spent)
        self.target_group = target_group

    def transform(self):
        # Override metode transformasi untuk kelas TargetedMarketingETL
        segment_info = f"Segmentasi pelanggan berdasarkan {self.target_group}"
        return f"{super().transform()}, {segment_info}"

#  penggunaan metode transform() untuk kelas MarketingDataETL
marketing_data_etl = MarketingDataETL('C001', '01/03/23', 'Electronics', 250)
print(marketing_data_etl.transform())

# penggunaan metode transform() untuk kelas TargetedMarketingETL
targeted_marketing_etl = TargetedMarketingETL('C002', '02/03/23', 'Books', 45.5, 'total_spending')
print(targeted_marketing_etl.transform())

Transformasi data: C001, 01/03/23, Electronics, 250
Transformasi data: C002, 02/03/23, Books, 45.5, Segmentasi pelanggan berdasarkan total_spending